.container--form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    /* background-color: rgb(245, 168, 67); */
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid black; */
    width: 400px;
    height: 530px;
    box-sizing: border-box; 
    border-radius: 25px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form--logo{
    width: 100px;
    height: 100px;
}

.form--label{
    display: block;
    /* border-bottom: 1px solid black; */
    margin: 10px 0;
    width: 100%;
    color: rgb(51, 51, 51);
}

.form--selectInput{
    width: 100%;
    /* border-radius: 25px; */
    padding: 5px 10px; 
    background-color:transparent;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.form--textInput{
    display: block;
    background-color:transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    /* border-radius: 25px; */
    /* border: 1px solid black; */
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
}
 
.form--submitInput{
    width: 50%;
    border-radius: 25px;
    /* box-sizing: border-box; */
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.disableInput{
    background: #999;
    color: #555;
    cursor: not-allowed;
}